@(message: String)

    @main("Play!ing with DataTables") {
        <body onload="loadApplicant(@message)">
            <h2>Edit</h2>

            <form name="test" method="post" action="/newApplicant" id="formApplicant">
                <fieldset>
                    <legend>Applicant</legend>
                    <p><b>Name:</b><br>
                        <input type="text" id="nameInput" name="name" size="40" required>
                    </p>
                    <p><b>Date interview ('dd/MM/yyyy'):</b><br>
                        <input type="date" name="dateInterview" id="dateInput" class="datepicker" required>
                    </p>
                    <button type="button" onclick="getSkills()">Add skill</button>
                    <div id="skill"></div>
                    <button type="button" onclick="getContacts()">Add contact</button>
                    <div id="contact"></div>
                    <p><input type="submit" value="Сохранить">
                        <input type="reset" value="Очистить"></p>
                </fieldset>
            </form>

            <div id="your-id"></div>

            <div id="vote_status">Здесь будет ответ сервера</div>
    }